
/* All sections */
.section {
    /* display: inline-block; */
    padding: 12px;
    margin: 12px;
    border-radius: 22px;
    /* background-color: #f9f9f9; */
}

/* Headings inside all sections */
.section__head {
    font-size: 22px;
    padding: 12px 1px;
    margin: 12px;
}

/* Paragraphs inside all sections */
.section__para,
.section__paragraph,
.section__text {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Lists inside all sections */
.section__list{
    padding: 12px 16px;
    line-height: 27px;
    margin: 12px;
}
.section__sublist-item {
  padding: 1px 16px;
    line-height: 27px;
    margin: 12px;
}
.section__list-item-heading{
    font-size: 22px;
    padding: 12px;
}
.section:nth-child(odd) {
    background-color: #b4b6b7; /* light blue */
}
.section:nth-child(even) {
    background-color: #b2d6f6; /* light blue */
}