.table-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
}
.content-table {
    width: 100%;
    text-align: left;
    font-size: 18px;
    border: 2px solid #444;
    border-radius: 25px;
}

.content-table th {
    background-color: #333;
    color: white;
    padding: 12px;
   border-radius: 25px;
}

.content-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.content-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.content-table tr:hover {
    background-color: #ddd;
    cursor: pointer;
}
