
.feedback__submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.feedback__submit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}