img{
    height: 235px;
    width: 235px;
    object-fit: cover;
    display: block; 
    border-radius: 7px;
}
.card{
    width: 100%;
  margin: 20px auto;
  align-items: center;
align-content: center;
   display: flex;
flex-wrap: wrap;
   justify-content: space-evenly;
}
.card-card{
    border-radius: 7px;
    width: 235px;
    height: 300px;
    background-color: white;
    text-align: center;
    box-shadow: 6px 7px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
} 
.card-card:hover{
  background-color: white;
    transform: scale(1.05);
}
.card p {
  font-size: 22px;
  color: #333;
  margin-top: 25px;
  text-align: left;
}
.card-head{
  color: #9e4e9d;
  }