body{
    background-color: #f8f8f8;
    margin: 0;
  padding: 0;
}
img{
    height: 235px;
    width: 235px;
    object-fit: cover;
    display: block; 
    border-radius: 7px;
}
.card{
    width: 90%;
  margin: 20px auto;
  text-align: center;
}
.card-card1, .card-card2, .card-card3{
   float: left;
    border-radius: 7px;
    width: 235px;
    height: 300px;
    background-color: white;
    margin: 54px;
    padding: 1px;
    text-align: center;
    box-shadow: 6px 7px 0 0 rgba(0, 0, 0, 0.1);
} 
.card p {
  font-size: 22px;
  color: #333;
  margin-top: 25px;
  text-align: left;
}
.card-head{
    padding-left: 20px; ;
  color: #9e4e9d;
  margin-bottom: 20px;
}