

.section {
    border-radius: 22px;
     
}

/* Paragraphs inside all sections */
.section__para,
.section__paragraph,
.section__text {
    line-height: 1.6;
}
/* Lists inside all sections */
.section__list{
    display: inline-block;
    line-height: 27px;
}

ol{
    padding: 0 0 0 16px;
}
ul{
    line-height: 27px;
    padding: 0 0 12px 22px;
}
.wrapper{
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 30px 5px;
}