
/* All sections */
.section {
    border-radius: 22px;
     /* display: inline-block; */
}
.section__head, 
.section__heading,
 .section__list-item-heading,
.section__item-head,
.feedback__title
{
margin-bottom: 12px;
}
/* Paragraphs inside all sections */
.section__para,
.section__paragraph,
.section__text {
    line-height: 1.6;
}
/* Lists inside all sections */
.section__list{
    display: inline-block;
    line-height: 27px;
}
/* .section:nth-child(odd) {
    background-color: #b4b6b7; /* light blue */

/* .section:nth-child(even) {
    background-color: #b2d6f6; /* light blue */

.bm{
    padding:0 0 12px 0;
    margin: 0 0 12px 0;
}
ol{
    padding: 0 0 0 16px;
}
ul{
    line-height: 27px;
    padding: 0 0 12px 22px;
}
.wrapper{
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 30px 5px;
}