*{
   margin: 0px;  
    padding: 0px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 28px;
    color: rgb(251, 5, 5);
    text-align: center;
    margin: 15px auto;
    line-height: 35px;
    font-size: 3rem;
   line-height: 1.2;
   font-weight: 600;
   text-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}
h2{
    font-size: 24px;
    line-height: 35px;
}
h3{
    font-size: 18px;
    line-height: 35px;
}
body{
    max-width: 1920px;
    background-color: rgb(237, 245, 245);
line-height: 25px;
 }
 p{
    padding-bottom: 5px;
}
a:hover {
    color: rgb(238, 7, 73);
    text-decoration: underline;
}
